/* ------------------------------------Styles main page------------------------------------*/
:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #FFFFFF;
}

body {
    color: var(--main-text-color);
    font-family: "Roboto", Tahoma, sans-serif;
    letter-spacing: 0.03em;
 }

.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
 /*------------------------------------Logo------------------------------------*/
.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-dack { color: var(--title-text-color); }
.logo-light { color: var(--secondary-text-color); }

/*------------------------------------Header------------------------------------*/
.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    
}

.header-nav-main {
    display: flex;
    align-items: center;      
}
.header-nav {
    margin-left: 93px;
}

.header-list  {
    display: flex;
}

.header-conect {
    display: flex;
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link.current {
    color: var(--accent-color);
}

.header-link, .header-link-nav { 
    color: var(--title-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    Letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus { 
    color: var(--accent-color); 
}

.header-link-nav { 
    color: var(--main-text-color); 
}

.header-link-nav:hover,
.header-link-nav:focus {
    color: var(--accent-color);
}

/*------------------------------------Hero------------------------------------ */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-image: linear-gradient(
        to top, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
       ),  
        url('../images/back-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-title { 
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    Letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto 30px;
}

.hero-button { 
    color: var(--secondary-text-color); 
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;

    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* -----------------------------------Section------------------------------------ */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0px;
}

/*------------------------------------Features------------------------------------*/ 

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    display: flex;
    flex-basis: auto;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-item::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    background-position: center;
    background-repeat: no-repeat;
    
}

.icon-antena::before {
    background-image: url(../images/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}
.features-bottom-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-text{
    font-size: 14px;
    line-height: 1.71;
}

/*------------------------------------Work------------------------------------*/

.work {
    display: flex;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-top-title, .team-top-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

/*------------------------------------Team------------------------------------*/
.team-fon {
    background: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-item {
    width: 270px;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;    
}
.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-name-card {
    padding-top: 30px;
    padding-bottom: 16px;
}

.team-bottom-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    text-align: center;
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center; 
}
.team-soc-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.team-soc-item:not(:first-child)  {
    margin-left: 10px;
}
.team-soc-link {
    width: 44px;
    height: 44px;
    background-color: red;
    border-radius: 50%;
    display: block;
}


/*-------------------------------Footer------------------------------------*/
.footer {
    display: block;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-adress {
    margin-top: 20px;
}

.footer-link-address, .footer-link-nav {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0px;
}

.footer-link-nav {
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-nav:hover,
.footer-link-nav:focus {
    color: var(--accent-color);
}

/*------------------------------------Styles page portfolio------------------------------------*/
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    color: var(--title-text-color);
    background: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pictures-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.pictures-item {
    width: 370px;
    margin: 15px;
}

.pictures-name-card {
    padding: 20px 24px;
    
    /* border-top-style: solid;
    border-top-color: #EEEEEE; */
    border: 1px solid #EEEEEE;
    border-top-width: 0px;
}

.pictures-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.pictures-text {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.88;
}
